@RenderSection("scripts", required: false)
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/demo.css">
</head>
<body>
    @if (Convert.ToInt32(Session["UserId"]) !=3)
    {
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Hotel Booking</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">@Html.ActionLink("Home", "Index", "Account", new { @class = "nav-link",style="font-family:Arial;" })</li>
                    <li class="nav-item">@Html.ActionLink("Reservation", "Reservation", "Account", new { @class = "nav-link",style="font-family:Arial;" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Account", new { @class = "nav-link" ,style="font-family:Arial"})</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Account", new { @class = "nav-link" ,style="font-family:Arial"})</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    
    @RenderBody()
    <footer id="footer" class="footer-1">
        <div class="main-footer widgets-dark typo-light">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget subscribe no-box">
                            <h5 class="widget-title">COMPANY NAME<span></span></h5>
                            <p>About the company, little discription will goes here.. </p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title">Quick Links<span></span></h5>
                            <ul class="thumbnail-widget">
                                <li>
                                    <div class="thumb-content">@Html.ActionLink("Home", "Index", "Account")</div>
                                </li>
                                <li>
                                    <div class="thumb-content">@Html.ActionLink("About", "About", "Account")</div>
                                </li>
                                <li>
                                    <div class="thumb-content">@Html.ActionLink("Contact", "Contact", "Account")</div>
                                </li>
                              
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title">Get Started<span></span></h5>
                            <p>Get access to your full Training and Marketing Suite.</p>
                            @Html.ActionLink("Book Now","Reservation","Account",new { @class="btn"})
                            
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">

                        <div class="widget no-box">
                            <h5 class="widget-title">Contact Us<span></span></h5>

                            <p><a href="mailto:info@domain.com" title="glorythemes">info@domain.com</a></p>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright Company Name © 2016. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    }
    else
    {
        @RenderBody()
    }

    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/aos.js"></script>
    <script src="~/Scripts/jquery.animateNumber.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <script src="~/Scripts/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Scripts/google-map.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
</html>
