@model ProjectHotelBooking.Models.Orders
@{
    ViewBag.Title = "Reservation";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sogo Hotel by Colorlib.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Content/fancybox.min.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Content/style.css">
    <style>
    </style>
</head>
<body>
    <section class="home-slider owl-carousel" style="height:600px;">
        <div class="slider-item" style="background-image:url(/images/bg_1.jpg); height:600px;">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate text-center">
                        <div class="text mb-5 pb-3">
                            <h1 class="mb-3">Welcome To Deluxe</h1>
                            <h2>Hotels &amp; Resorts</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(/images/bg_2.jpg); height:600px;">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate text-center">
                        <div class="text mb-5 pb-3">
                            <h1 class="mb-3">Enjoy A Luxury Experience</h1>
                            <h2>Join With Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row justify-content-center mb-5 pb-3" style="margin-top:80px;">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Book Your Room Here</h2>
        </div>
    </div>
    <section class="section contact-section" id="next" style="margin-top:50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @using (Html.BeginForm("Reservation", "Account", FormMethod.Post, new { @class = "bg-white p-md-5 p-4 mb-5 border" }))
                    {

                        <div class="row">
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "text-black font-weight-bold" })
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.contactno, htmlAttributes: new { @class = "text-black font-weight-bold" })
                                @Html.EditorFor(model => model.contactno, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.contactno, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "text-black font-weight-bold" })
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.checkin, htmlAttributes: new { @class = "text-black font-weight-bold" })
                                @Html.EditorFor(model => model.checkin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.checkin, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.checkout, htmlAttributes: new { @class = "text-black font-weight-bold" })
                                @Html.EditorFor(model => model.checkout, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.checkout, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="Type" class="font-weight-bold text-black">Type</label>
                                <div class="field-icon-wrap">
                                    @Html.DropDownList("RoomsId", null, "select Type",new { @class="form-control"})
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.number_of_rooms, htmlAttributes: new { @class = "text-black font-weight-bold" })
                                @Html.EditorFor(model => model.number_of_rooms, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.number_of_rooms, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12 form-group">
                                <label class="text-black font-weight-bold" for="message">Notes</label>
                                <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="submit" value="Book Now" class="btn btn-primary text-white py-3 px-5 font-weight-bold" style="border-radius:30px;box-shadow:none;background-color:#FF8D1E;border-width:0px;">
                            </div>
                        </div>
                    }
                </div>

                <div class="col-md-5" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                        <div class="col-md-10 ml-auto contact-info">
                            <p><span class="d-block">Address:</span> <span class="text-black"> 98 West 21th Street, Suite 721 New York NY 10016</span></p>
                            <p><span class="d-block">Phone:</span> <span class="text-black"> (+1) 435 3533</span></p>
                            <p><span class="d-block">Email:</span> <span class="text-black"> info@yourdomain.com</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>