@model ProjectHotelBooking.Models.Rooms

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rooms</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
        {
            <dt>
                Avatar
            </dt>
            <dd>
                <img src="~/Files?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar"  style="height:250px;width:350px;"/>
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoomsId }) <br />
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    @Html.ActionLink("Back to Home", "AdminLoggedIn", "Account")
</div>
